<template>

<div class="about">
   <h1>KCK Laboratorium</h1>
 
    <div style="display: block;">
        <h5 style="float: left; width: 33%;">Mateusz Dryzek</h5>
        <h5 style="float: left; width: 33%;">214104</h5>
        <h5 style="float: left; width: 33%;">Informatyka</h5>
    </div>
  

    </div>

 </div>
</template>