<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/newroute">NewRoute</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: ##eaf8f3;
}
#nav {
  padding: 20px;
}

#nav a {
  font-weight: bold;
  color: #6a5acd;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #584383;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #bc0026;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #664790;
}
</style>
